body{
    background-color: #e9c497;
}
h1{
    text-align: center;
    color: #ca42a1;
}
h2{
    color: #ca42a1;
}
.enviar{
    border-radius: 25px;
    color:#1b140b;
    background-color: #25752e;  
}
.etiqueta{
    background-color: #e42685;
    color: #ff0000;
}