:root{
    --orange:#FF872C;
    --gray: #DCDCE5;
}
button{
    width: 120px;
    height: 120px;
    font-family: Roboto,sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    background-color:var(--orange);
}
button:hover{
    background-color: var(--gray);
    color:var(--orange);
}
.boton-reiniciar{
    width: 260px;
    height: 120px;
}