.container{
    display:grid;
    grid-template-rows: auto 1fr auto;
    align-items:center;
}
.datos{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.text{
    justify-content:initial;
    text-align:initial;
}
.botones{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
}